{% extends "store/base.html" %}

{% block content %}
<div class="container">
    <h2>Your Cart</h2>
    {% if cart_items %}
        <ul class="cart-list">
            {% for item in cart_items %}
            <li class="cart-item">
                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                <span>{{ item.product.name }} - ${{ item.product.price }}</span>
                <a href="{% url 'remove_from_cart' item.id %}" class="btn btn-danger">Remove</a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
</div>
{% endblock %}
