body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 40px;
}

.navbar {
    background-color: #2C3E50;
    padding: 15px;
}

.navbar a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

.navbar .btn {
    background-color: red;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}

.card {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background: white;
    margin-bottom: 20px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.card-body {
    padding: 15px;
}

.btn-success {
    background-color: #28a745;
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border-radius: 5px;
}

.btn-success:hover {
    background-color: #218838;
}
